/* hover: 앞뒤점프 버튼 등장 */
.container .visual-block:hover .controller .btn-layer-control { opacity: 1; }
/* 앞뒤버튼 비활성화 */
#btnLayerNext.disabled, #btnLayerPrev.disabled { opacity: .5 !important; animation: none !important }

.visual-block .controller {
    position: absolute;
    left: 0; bottom: 0; width: 100%;
    padding: 0 40px 40px 20px;
    box-sizing: border-box;
    z-index: 2;
}

.container .visual-block .controller:after { content: ""; display: block; clear: both; }
.container .visual-block .controller > button {
    // width: 48px; height: 48px;
    float: left; margin-left: 20px;
    display: flex; justify-content: center; align-items: center;
}
.container .visual-block .controller> button i {font-size: 48px; width: 48px; height: 48px; }

/* 댓글참여하기 */
.container .visual-block .controller>button.btn-reply {
    position: relative;
    float: right;
    padding-left: 20px;
    box-sizing: content-box;
    margin-left: 0;
}
.container .visual-block .controller > button.btn-reply i { position: relative; overflow: visible; }
.container .visual-block .controller > button.btn-reply .event-label {
    display: block;
    position: absolute; left: -18px; top: 0; width: 34px; height: 16px;
    text-indent: -9999px;
    background: url(https://static.msscdn.net/mfile_outsrc/showcase/images/event-tool-tip.png) 0 0 no-repeat;
    background-size: 34px auto;
}

/* 자동재생버튼
.is-active 추가시 정지버튼으로 변경
*/
.container .visual-block .controller > button.btn-visual-autoplay.is-active i:before { content: ""; } // 정지 아이콘

.container .visual-block .controller > button.btn-layer-control {
    position: absolute;
    // top: auto; bottom: calc(50vh - 24px); 
    // width: 48px; height: 48px;
    background-color: rgba(0, 0, 0, 0.2); border-radius: 100%;  margin-left: 0;
    opacity: 0; // =============================================================================================> 처음엔 안보이게 
    transition: opacity 0.1s linear;
}

.container .visual-block .controller>button.btn-layer-control:after { display: none; }

/* 오디오 
.is-active 추가시 애니메이션
*/
.container .visual-block .controller .btn-audio { overflow: hidden; text-align: center; }
.container .visual-block .controller .btn-audio .audio-ani-wrap { 
    position: relative; display: inline-block; 
    // width: 26px; height: 30px;
}
.container .visual-block .controller .btn-audio.is-active span { animation: sound 1s linear infinite alternate; }
.container .visual-block .controller .btn-audio span { position: absolute; bottom: 0px; background-color: #fff; }
.container .visual-block .controller .btn-audio span:nth-child(1) { animation-delay: 0.2s; }
.container .visual-block .controller .btn-audio span:nth-child(2) { animation-delay: 0.4s; }
.container .visual-block .controller .btn-audio span:nth-child(3) { animation-delay: 0.6s; }
.container .visual-block .controller .btn-audio span:nth-child(4) { animation-delay: 0.8s; }

// .controller .btn-audio .audio-ani-wrap { position: relative; display: inline-block; width: 26px; height: 30px;}
// .controller .btn-audio.is-active span { animation: sound 1s cubic-bezier(0.47, 0, 0.75, 0.72) infinite alternate; }
// .controller .btn-audio span { position: absolute; bottom: 0px; width: 2px; height: 6px; background-color: #fff; }
// .controller .btn-audio span:nth-child(1) { left: 0; animation-delay: 0.2s; }
// .controller .btn-audio span:nth-child(2) { left: 8px; animation-delay: 0.4s; }
// .controller .btn-audio span:nth-child(3) { left: 16px; animation-delay: 0.6s; }
// .controller .btn-audio span:nth-child(4) { left: 24px; animation-delay: 0.8s; }

/* 기획전바로가기 옷 모양 아이콘 */
.container .visual-block .controller .btn-product-view { display: none; }
// .controller .btn-product-view i { transform: translateY(-10px); }

/* --------------------------------------------------------------------------------------------------  */
/* @media */
/* --------------------------------------------------------------------------------------------------- */


/* /////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ======[ width 1023px 이하]===================================================================== */
/* /////////////////////////////////////////////////////////////////////////////////////////////////// */

@media screen and (max-width: 1023px) {
    /* dark 모드 */
    #wrap.dark .container .controller .btn-product-view { background-color: transparent; }
    #wrap.dark .container .controller .btn-product-view i { color: #000; }

    .container .visual-block .controller {
        height: 60px;
        background-color: #fff;
        padding-left: 0;
        padding-right: 0;
        box-sizing: initial;
        padding-bottom: constant(safe-area-inset-bottom);
        padding-bottom: env(safe-area-inset-bottom);
        display: flex; justify-content: space-between; // 추가 
    }
    .container .visual-block .controller:after { display: none; }

    .container .visual-block .controller>button {
        display: flex; justify-content: center; align-items: center; flex: 1;
        margin-left: 0;
        width: auto !important; 
        height: 60px !important;
        line-height: 60px; text-align: center;
    }
    .container .visual-block .controller > button i {
        font-size: 30px !important; width: 30px; height: 30px; color: #000;
        align-items: center; justify-content: center;
    }

    /* 댓글참여하기  */
    .container .visual-block .controller>button.btn-reply { float: none; margin-left: 0; padding-left: 0; }
    .container .visual-block .controller>button.btn-reply .event-label { left: -25px; top: -5px; }

    /* 앞뒤점프 */
    .container .visual-block .controller>button.btn-layer-control {
        position: static; border-radius: 0; background-color: transparent; opacity: 1; top: 0; margin-top: 0;
    }
    .container .visual-block .controller>button.btn-layer-control:after { display: none; }
    .container .visual-block .controller>button.btn-layer-control.btn-layer-prev .ic-30-bold-line-arrow-left:before { content: ""; }
    .container .visual-block .controller>button.btn-layer-control.btn-layer-next .ic-30-bold-line-arrow-right:before { content: ""; }

    /* 오디오  */
    .container .visual-block .controller .btn-audio.is-active span { animation: m-sound 1s cubic-bezier(0.47, 0, 0.75, 0.72) infinite alternate; }
    .container .visual-block .controller .btn-audio .audio-ani-wrap { position: relative; width: 15px; height: 22px; align-items: center; justify-content: center; }
    .container .visual-block .controller .btn-audio .audio-ani-wrap span { position: absolute; bottom: 0; width: 1.2px; height: 4px; background-color: #000; }
    .container .visual-block .controller .btn-audio .audio-ani-wrap span:nth-child(1) { left: 0; animation-delay: 0.2s; }
    .container .visual-block .controller .btn-audio .audio-ani-wrap span:nth-child(2) { left: 4px; animation-delay: 0.4s; }
    .container .visual-block .controller .btn-audio .audio-ani-wrap span:nth-child(3) { left: 8px; animation-delay: 0.6s; }
    .container .visual-block .controller .btn-audio .audio-ani-wrap span:nth-child(4) { left: 12px; animation-delay: 0.8s; }

    /* 기획전바로가기 옷 모양 아이콘 */
    .container .visual-block .controller .btn-product-view {
        display: flex !important; justify-content: center; align-items: center;
        position: absolute; right: 15px; top: -60px;
        width: 40px !important; height: 40px !important;
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 40px; z-index: 1;
    }
    .container .visual-block .controller .btn-product-view i { color: #fff; }
    // .controller .btn-product-view i { transform: translateY(0); }
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ======[ width 1024px 이상]===================================================================== */
/* /////////////////////////////////////////////////////////////////////////////////////////////////// */

@media screen and (min-width: 1024px) {
    #wrap.dark .controller i { color: #000; }
    #wrap.dark .controller .btn-audio span { background-color: #000; }
    .container .visual-block .controller { padding: 0 30px 30px 10px; }
    .container .visual-block .controller>button { width: 30px; height: 30px; }
    .container .visual-block .controller>button>i { width: 30px; height: 30px; font-size: 30px; }

    /* 댓글참여하기  */
    .container .visual-block .controller>button.btn-reply .event-label { left: -21px; top: -6px; }

    /* 앞뒤점프 */
    .container .visual-block .controller>button.btn-layer-control {
        bottom: -webkit-calc(50vh - 15px);
        bottom: calc(50vh - 15px);
        top: auto; width: 30px; height: 30px;
    }
    .container .visual-block .controller>button.btn-layer-control.btn-layer-prev { left: 16px; }
    .container .visual-block .controller>button.btn-layer-control.btn-layer-next { right: 16px; }
    .container .visual-block .controller>button.btn-layer-control i { font-size: 20px; line-height: 30px; }

    /* 오디오 */
    .container .visual-block .controller .btn-audio .audio-ani-wrap { width: 22px; height: 21px; }
    .container .visual-block .controller .btn-audio.is-active span { animation-name: m-sound; }
    .container .visual-block .controller .btn-audio span { width: 1px; height: 6px; }
    .container .visual-block .controller .btn-audio span:nth-child(1) { left: 0; }
    .container .visual-block .controller .btn-audio span:nth-child(2) { left: 5px; }
    .container .visual-block .controller .btn-audio span:nth-child(3) { left: 10px; }
    .container .visual-block .controller .btn-audio span:nth-child(4) { left: 15px; }
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ======[ -pixel-ratio: 1.5  orientation: portrait ]===================== For iPadPro - 1024 */
/* /////////////////////////////////////////////////////////////////////////////////////////////////// */

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) and (orientation: portrait) {
    /* 다크 모드 */
    #wrap.dark .container .controller .btn-product-view { background-color: transparent; }
    #wrap.dark .container .controller .btn-product-view i { color: #000; }

    .container .visual-block .controller {
        height: 60px; background-color: #fff; padding-left: 0; padding-right: 0;
        box-sizing: initial;
        padding-bottom: constant(safe-area-inset-bottom);
        padding-bottom: env(safe-area-inset-bottom);
        display: flex; justify-content: space-between;
    }
    .container .visual-block .controller:after { display: none; }
    .container .visual-block .controller>button {
        flex: 1; margin-left: 0;
        width: auto !important; height: 60px !important;
        line-height: 60px; text-align: center;
    }
    .container .visual-block .controller>button i {
        font-size: 30px !important;
        width: 30px; height: 30px; color: #000;
        align-items: center; justify-content: center;
    }
    /* 댓글참여하기  */
    .container .visual-block .controller>button.btn-reply { float: none; margin-left: 0; padding-left: 0; }
    .container .visual-block .controller>button.btn-reply .event-label { left: -25px; top: -5px; }
    
    /* 앞뒤점프 */
    .container .visual-block .controller>button.btn-layer-control { position: static; border-radius: 0; background-color: transparent; opacity: 1; top: 0; margin-top: 0; }
    .container .visual-block .controller>button.btn-layer-control:after { display: none; }
    .container .visual-block .controller>button.btn-layer-control.btn-layer-prev .ic-30-bold-line-arrow-left:before { content: ""; }
    .container .visual-block .controller>button.btn-layer-control.btn-layer-next .ic-30-bold-line-arrow-right:before { content: ""; }
    
    /* 오디오 */
    .container .visual-block .controller .btn-audio.is-active span { animation: m-sound 1s linear infinite alternate; }
    .container .visual-block .controller .btn-audio .audio-ani-wrap { position: relative; width: 15px; height: 22px; align-items: center; justify-content: center; }
    .container .visual-block .controller .btn-audio .audio-ani-wrap span { position: absolute; bottom: 0; width: 1.2px; height: 4px; background-color: #000; }
    .container .visual-block .controller .btn-audio .audio-ani-wrap span:nth-child(1) { left: 0; animation-delay: 0.2s; }
    .container .visual-block .controller .btn-audio .audio-ani-wrap span:nth-child(2) { left: 4px; animation-delay: 0.4s; }
    .container .visual-block .controller .btn-audio .audio-ani-wrap span:nth-child(3) { left: 8px; animation-delay: 0.6s; }
    .container .visual-block .controller .btn-audio .audio-ani-wrap span:nth-child(4) { left: 12px; animation-delay: 0.8s; }

    /* 기획전바로가기 옷 모양 아이콘 */
    .container .visual-block .controller .btn-product-view {
        display: block;
        position: absolute;
        right: 15px;
        top: -60px;
        width: 40px !important;
        height: 40px !important;
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 40px;
        z-index: 1;
    }

    .container .visual-block .controller .btn-product-view i { color: #fff; }
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ======[ width 1281px 이상]===================================================================== */
/* /////////////////////////////////////////////////////////////////////////////////////////////////// */
@media screen and (min-width: 1281px) {
    .container .visual-block .controller { padding: 0 40px 40px 20px; }
    .container .visual-block .controller>button { width: 48px; height: 48px; }
    .container .visual-block .controller>button>i { width: 48px; height: 48px; font-size: 48px; }

    .container .visual-block .controller>button.btn-reply .event-label { left: -18px; top: 0; }

    .container .visual-block .controller>button.btn-layer-control {
        bottom: -webkit-calc(50vh - 24px);
        bottom: calc(50vh - 24px);
        top: auto; width: 48px; height: 48px;
    }
    .container .visual-block .controller>button.btn-layer-control.btn-layer-prev { left: 20px; }
    .container .visual-block .controller>button.btn-layer-control.btn-layer-next { right: 20px; }
    .container .visual-block .controller>button.btn-layer-control i { width: 30px; height: 30px; font-size: 30px; }

    .container .visual-block .controller .btn-audio.is-active span { animation: sound 1s cubic-bezier(0.47, 0, 0.75, 0.72) infinite alternate; }
    .container .visual-block .controller .btn-audio .audio-ani-wrap { width: 24px; height: 30px; }
    .container .visual-block .controller .btn-audio span { position: absolute; bottom: 0px; width: 2px; height: 6px; background-color: #fff; }
    .container .visual-block .controller .btn-audio span:nth-child(1) { left: 0; animation-delay: 0.2s; }
    .container .visual-block .controller .btn-audio span:nth-child(2) { left: 8px; animation-delay: 0.4s; }
    .container .visual-block .controller .btn-audio span:nth-child(3) { left: 16px; animation-delay: 0.6s; }
    .container .visual-block .controller .btn-audio span:nth-child(4) { left: 24px; animation-delay: 0.8s; }

    .container .visual-block .controller .btn-product-view { display: none; }
}


/* /////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ======[ width 1024px 이상 - pc ===================================================================== */
/* /////////////////////////////////////////////////////////////////////////////////////////////////// */
@media screen and (min-width:1024px) {
    #btnLayerNext.disabled, #btnLayerPrev.disabled { display: none; }
    .container .visual-block .controller>button.btn-layer-control#btnLayerNext.blink { animation: blink-to-next 4.25s infinite linear }
}


/* /////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ======[ width 1023px 이하]===================================================================== */
/* /////////////////////////////////////////////////////////////////////////////////////////////////// */
@media screen and (max-width:1023px) {
    .container .visual-block .controller>button.btn-layer-control#btnLayerNext.blink { position: relative;}
    .container .visual-block .controller>button.btn-layer-control#btnLayerNext.blink i {
        animation: blink-to-next-i 4.25s infinite linear;
        opacity: 1; z-index: 2; position: relative; color: #000;
    }

    .container .visual-block .controller>button.btn-layer-control#btnLayerNext.blink:before {
        animation: blink-to-next-c 4.25s infinite linear;
        z-index: 1;
        opacity: 0;
        background: #0078ff;
        width: 36px; height: 36px; border-radius: 50%;
        content: "";
        position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%)
    }
}

//=======================================================================================================================
@keyframes sound {
    0% { height: 6px; }
    50% { height: 32px; }
    100% { height: 0; }
}
@keyframes m-sound {
    0% { height: 4px; }
    50% { height: 22px; }
    100% { height: 0px; }
}
@keyframes blink-to-next {
    0%, 100%, 20%, 40%, 60% { opacity: 1; }
    10%, 30%, 50% { opacity: .4 }
}
@keyframes blink-to-next-i {
    0%, 10%, 100%, 30%, 40%, 60% { color: #000; }
    15%, 25%, 45%, 55% { color: #fff; }
}
@keyframes blink-to-next-c {
    0%, 10%, 100%, 30%, 40%, 60% { opacity: 0; }
    15%, 25%, 45%, 55% { opacity: 1;}
}
