@charset "UTF-8";
.app {
  font-weight: 500;
  letter-spacing: 0;
  font-family: "Noto Sans KR", sans-serif;
  color: #fff;
  line-height: 1;
  white-space: nowrap;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
}

.app h1, .app h2, .app h3, .app h4, .app h5 {
  font-weight: 500;
}

.app .bold {
  font-weight: 700 !important;
}

.app i {
  font-style: normal;
}

.app .txt-right {
  text-align: right !important;
}

.app .lined {
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.app .lined .line {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
}

.app .lined .txt {
  color: #fff;
  position: relative;
  display: block;
  padding: .4em .6em .5em;
}

.app .lined.yellow .line {
  background: #fee717;
}

.app .lined.yellow .txt {
  color: #000;
}

body, html {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  font-family: "-apple-system", "HelveticaNeue", "Roboto", "Noto Sans KR", "helvetica", "Gulim", sans-serif;
}

.app {
  overflow: hidden;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  max-width: 80vh;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.app * {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
      user-select: none;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

/* //////// 상하 그라디언트 딤 //////////// */
.app:after, .app:before {
  content: "";
  position: absolute;
  left: -100%;
  right: -100%;
  pointer-events: none;
  opacity: .4;
  z-index: 999;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5)));
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
}

.app:after {
  bottom: 0;
  height: 12%;
}

.app:before {
  top: 0;
  height: 8%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media screen and (max-width: 1023px) {
  #app:after {
    display: none;
  }
}

/* //////// progress //////////// */
.app .app-progress {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.25);
}

.app .app-progress .app-progress-bar {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  background-color: #000;
}

.app .app-progress[data-theme=dark] .app-progress-bar {
  background: #000;
}

/*//////// only-portrait //////////// */
.only-portrait {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
}

.only-portrait h1 {
  font-family: Musinsa, sans-serif;
  font-size: 34px;
  text-transform: uppercase;
  font-weight: 500;
}

.only-portrait p {
  font-family: Musinsa, sans-serif;
  font-size: 12px;
  color: #b2b2b2;
  line-height: 20px;
  margin-top: 20px;
}

@media screen and (max-device-width: 767px) {
  .only-portrait.active {
    opacity: 1;
    visibility: visible;
    z-index: 999;
  }
}

#appLoading .guide {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  background-color: black;
}

#appLoading .coach-guide {
  opacity: 1;
  /*============================> 안보이게 설정 */
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: Musinsa, sans-serif !important;
  font-weight: 400;
}

#appLoading .coach-guide.mobile {
  display: block;
}

#appLoading .coach-guide.desktop {
  display: none;
}

#appLoading .coach-guide p {
  font-size: 2.0472440945vh;
  text-align: center;
  color: #fff;
  line-height: 1.5;
}

#appLoading .coach-guide .gadget {
  text-align: center;
  font-size: 0;
  margin-bottom: 3.937007874vh;
}

#appLoading .coach-guide .mouse {
  width: 4.4094488189vh;
  height: 8.188976378vh;
  border: 2px solid #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4.4094488189vh;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

#appLoading .coach-guide .mouse .pointer {
  display: block;
  width: .6299212598vh;
  height: .6299212598vh;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 20%;
  margin-top: -.3149606299vh;
  margin-left: -.3149606299vh;
}

#appLoading .coach-guide .gadget .or {
  font-size: 2.3622047244vh;
  vertical-align: middle;
  margin: 0 3.1496062992vh;
  opacity: .7;
  color: #fff;
}

#appLoading .coach-guide .keyboard {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  height: 7.4015748031vh;
  width: 11.0236220472vh;
}

#appLoading .coach-guide .keyboard span {
  width: 3.7795275591vh;
  height: 3.7795275591vh;
  border: 2px solid #fff;
  position: absolute;
  top: 0;
  left: 0;
}

#appLoading .coach-guide .keyboard span svg {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#appLoading .coach-guide .keyboard span.down,
#appLoading .coach-guide .keyboard span.up {
  left: 3.6220472441vh;
}

#appLoading .coach-guide .keyboard span.down,
#appLoading .coach-guide .keyboard span.left,
#appLoading .coach-guide .keyboard span.right {
  top: 3.6220472441vh;
}

#appLoading .coach-guide .keyboard span.right {
  left: 7.2440944882vh;
}

#appLoading .coach-guide .mobilephone {
  width: 4.7244094488vh;
  height: 8.6614173228vh;
  border: 2px solid #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: .7874015748vh;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

#appLoading .coach-guide .mobilephone .pointer {
  display: block;
  width: .6299212598vh;
  height: .6299212598vh;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -.3149606299vh;
  margin-left: -.3149606299vh;
}

#appLoading .coach-guide.active {
  opacity: 1;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

#appLoading .coach-guide.active .mouse .pointer {
  -webkit-animation: mousepointer 2s forwards 1s;
          animation: mousepointer 2s forwards 1s;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

#appLoading .coach-guide.active .keyboard span {
  -webkit-animation: keyboardpress 1.6s forwards;
          animation: keyboardpress 1.6s forwards;
}

#appLoading .coach-guide.active .keyboard span.right {
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}

#appLoading .coach-guide.active .keyboard span.up {
  -webkit-animation-delay: .8s;
          animation-delay: .8s;
}

#appLoading .coach-guide.active .keyboard span.left {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

#appLoading .coach-guide.active .keyboard span.down {
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}

#appLoading .coach-guide.active .mobilephone .pointer {
  -webkit-animation: gesture 2.2s forwards;
          animation: gesture 2.2s forwards;
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
}

@media screen and (max-width: 1023px) {
  #appLoading .coach-guide p {
    font-size: calc(var(--vh, 1vh) * 2.0472440945);
  }
  #appLoading .coach-guide .gadget {
    margin-bottom: calc(var(--vh, 1vh) * 3.937007874);
  }
  #appLoading .coach-guide .mouse {
    width: calc(var(--vh, 1vh) * 4.4094488189);
    height: calc(var(--vh, 1vh) * 8.188976378);
    border-radius: calc(var(--vh, 1vh) * 4.4094488189);
  }
  #appLoading .coach-guide .mouse .pointer {
    width: calc(var(--vh, 1vh) * .6299212598);
    height: calc(var(--vh, 1vh) * .6299212598);
    margin-top: calc(var(--vh, 1vh) * -.3149606299);
    margin-left: calc(var(--vh, 1vh) * -.3149606299);
  }
  #appLoading .coach-guide .gadget .or {
    font-size: calc(var(--vh, 1vh) * 2.3622047244);
    margin: 0 calc(var(--vh, 1vh) * 3.1496062992);
  }
  #appLoading .coach-guide .keyboard {
    height: calc(var(--vh, 1vh) * 7.4015748031);
    width: calc(var(--vh, 1vh) * 11.0236220472);
  }
  #appLoading .coach-guide .keyboard span {
    width: calc(var(--vh, 1vh) * 3.7795275591);
    height: calc(var(--vh, 1vh) * 3.7795275591);
  }
  #appLoading .coach-guide .keyboard span.down,
  #appLoading .coach-guide .keyboard span.up {
    left: calc(var(--vh, 1vh) * 3.6220472441);
  }
  #appLoading .coach-guide .keyboard span.down,
  #appLoading .coach-guide .keyboard span.left,
  #appLoading .coach-guide .keyboard span.right {
    top: calc(var(--vh, 1vh) * 3.6220472441);
  }
  #appLoading .coach-guide .keyboard span.right {
    left: calc(var(--vh, 1vh) * 7.2440944882);
  }
  #appLoading .coach-guide .mobilephone {
    width: calc(var(--vh, 1vh) * 4.7244094488);
    height: calc(var(--vh, 1vh) * 8.6614173228);
    border-radius: calc(var(--vh, 1vh) * .7874015748);
  }
  #appLoading .coach-guide .mobilephone .pointer {
    width: calc(var(--vh, 1vh) * .6299212598);
    height: calc(var(--vh, 1vh) * .6299212598);
    margin-top: calc(var(--vh, 1vh) * -.3149606299);
    margin-left: calc(var(--vh, 1vh) * -.3149606299);
  }
}

@-webkit-keyframes mousepointer {
  0%, 80%, 100% {
    top: 20%;
  }
  40% {
    top: 80%;
  }
}

@keyframes mousepointer {
  0%, 80%, 100% {
    top: 20%;
  }
  40% {
    top: 80%;
  }
}

@-webkit-keyframes keyboardpress {
  0%, 50%, 100% {
    background: 0 0;
  }
  25% {
    background: rgba(255, 255, 255, 0.25);
  }
}

@keyframes keyboardpress {
  0%, 50%, 100% {
    background: 0 0;
  }
  25% {
    background: rgba(255, 255, 255, 0.25);
  }
}

@-webkit-keyframes gesture {
  0%, 45%, 55%, 100% {
    top: 50%;
    left: 50%;
  }
  10% {
    top: 50%;
    left: 75%;
  }
  30% {
    top: 50%;
    left: 25%;
  }
  70% {
    top: 75%;
    left: 50%;
  }
  90% {
    top: 25%;
    left: 50%;
  }
}

@keyframes gesture {
  0%, 45%, 55%, 100% {
    top: 50%;
    left: 50%;
  }
  10% {
    top: 50%;
    left: 75%;
  }
  30% {
    top: 50%;
    left: 25%;
  }
  70% {
    top: 75%;
    left: 50%;
  }
  90% {
    top: 25%;
    left: 50%;
  }
}

/*
=================================================================================================================
*/
#appLoading {
  background: 0 0;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
}

#appLoading .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-perspective: 600px;
          perspective: 600px;
}

#appLoading .logo img,
#appLoading .logo svg {
  display: block;
  width: 9.5275590551vh;
  height: 8.7401574803vh;
}

@media screen and (max-width: 1023px) {
  #appLoading .logo img,
  #appLoading .logo svg {
    display: block;
    width: calc(var(--vh, 1vh) * 9.5275590551);
    height: calc(var(--vh, 1vh) * 8.7401574803);
  }
}

/*
=====================================================================================================================
*/
@-webkit-keyframes light1 {
  0%, 18%, 22%, 30%, 45%, 55%, 70%, 80%, 90%, 95% {
    opacity: 0;
  }
  20%, 40%, 60%, 77% {
    opacity: .8;
  }
}
@keyframes light1 {
  0%, 18%, 22%, 30%, 45%, 55%, 70%, 80%, 90%, 95% {
    opacity: 0;
  }
  20%, 40%, 60%, 77% {
    opacity: .8;
  }
}

@-webkit-keyframes light2 {
  0%, 5%, 20%, 25%, 50%, 60%, 70%, 75%, 85%, 99% {
    opacity: 0;
  }
  3%, 22%, 30%, 66%, 72%, 80% {
    opacity: .8;
  }
}

@keyframes light2 {
  0%, 5%, 20%, 25%, 50%, 60%, 70%, 75%, 85%, 99% {
    opacity: 0;
  }
  3%, 22%, 30%, 66%, 72%, 80% {
    opacity: .8;
  }
}

@-webkit-keyframes light3 {
  0%, 6%, 30%, 55%, 60%, 70%, 75%, 98% {
    opacity: 0;
  }
  2%, 20%, 33%, 50%, 58%, 72%, 90% {
    opacity: .8;
  }
}

@keyframes light3 {
  0%, 6%, 30%, 55%, 60%, 70%, 75%, 98% {
    opacity: 0;
  }
  2%, 20%, 33%, 50%, 58%, 72%, 90% {
    opacity: .8;
  }
}

@-webkit-keyframes progress1 {
  0% {
    -webkit-transform: scalex(0);
            transform: scalex(0);
    opacity: .5;
  }
  90% {
    -webkit-transform: scalex(1);
            transform: scalex(1);
    opacity: 1;
  }
  92% {
    -webkit-transform: scalex(1);
            transform: scalex(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scalex(1);
            transform: scalex(1);
    opacity: 0;
  }
}

@keyframes progress1 {
  0% {
    -webkit-transform: scalex(0);
            transform: scalex(0);
    opacity: .5;
  }
  90% {
    -webkit-transform: scalex(1);
            transform: scalex(1);
    opacity: 1;
  }
  92% {
    -webkit-transform: scalex(1);
            transform: scalex(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scalex(1);
            transform: scalex(1);
    opacity: 0;
  }
}

@-webkit-keyframes progress2 {
  0% {
    -webkit-transform: scale(0.3, 0.8) translatez(0);
            transform: scale(0.3, 0.8) translatez(0);
    opacity: 0;
  }
  90% {
    -webkit-transform: scale(1, 1) translatex(23.62205vh) translatez(0);
            transform: scale(1, 1) translatex(23.62205vh) translatez(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1, 1) translatex(23.62205vh) translatez(0);
            transform: scale(1, 1) translatex(23.62205vh) translatez(0);
    opacity: 0;
  }
}

@keyframes progress2 {
  0% {
    -webkit-transform: scale(0.3, 0.8) translatez(0);
            transform: scale(0.3, 0.8) translatez(0);
    opacity: 0;
  }
  90% {
    -webkit-transform: scale(1, 1) translatex(23.62205vh) translatez(0);
            transform: scale(1, 1) translatex(23.62205vh) translatez(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1, 1) translatex(23.62205vh) translatez(0);
            transform: scale(1, 1) translatex(23.62205vh) translatez(0);
    opacity: 0;
  }
}

@font-face {
  font-family: "Euclid Flex";
  src: url(fonts/EuclidFlexMedium.eot);
  src: url(fonts/EuclidFlexMedium.eot?#iefix) format("embedded-opentype"), url(fonts/EuclidFlexMedium.woff2) format("woff2"), url(fonts/EuclidFlexMedium.woff) format("woff"), url(fonts/EuclidFlexMedium.ttf) format("truetype"), url(fonts/EuclidFlexMedium.svg#EuclidFlexMedium) format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

.app .font-musinsa {
  font-family: Musinsa, sans-serif !important;
  font-weight: 500 !important;
}

.app .font-euclidflex {
  font-family: "Euclid Flex", sans-serif !important;
  letter-spacing: 0 !important;
}

/* -------------------------------------------------------------------------------------------------------------------------- */
.pages {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  max-width: 80vh;
  height: 100vh;
  overflow: hidden;
  z-index: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  perspective: 1200px;
  -webkit-perspective: 1200px;
  background: #000 50% 50% no-repeat;
  background-size: cover;
}

.pages .page {
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  background: 0 0;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.pages .page[data-status=active],
.pages .page[data-status=sibling] {
  display: block;
  opacity: 1;
}

.pages .page[data-status=sibling-sibling] {
  opacity: 0;
  display: block;
}

.pages .page .page-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.pages .page .page-bg,
.pages .page .page-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80vh;
  height: 100vh;
}

.pages .page .bg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80vh;
  height: 100vh;
}

.pages .page .rolling-bg {
  background: #090a0a;
}

.pages .page .rolling-bg .back {
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

/* ---------- backgorund image 적용되는 엘리먼트 ------------------------------------------------ */
.pages .page .back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: 50% 50% no-repeat;
  background-size: auto 100%;
}

@media screen and (max-width: 1023px) {
  .pages {
    max-width: calc(var(--vh, 1vh) * 80);
    height: calc(var(--vh, 1vh) * 100);
  }
  .pages .page .page-bg,
  .pages .page .page-content {
    width: calc(var(--vh, 1vh) * 80);
    height: calc(var(--vh, 1vh) * 100);
  }
  .pages .page .bg {
    width: calc(var(--vh, 1vh) * 80);
    height: calc(var(--vh, 1vh) * 100);
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) and (orientation: portrait) {
  * {
    -webkit-tap-highlight-color: transparent;
    -webkit-overflow-scrolling: touch;
  }
  .container .visual-block {
    width: 100%;
    z-index: 1;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-bottom: 60px;
    padding-bottom: calc(60px + constant(safe-area-inset-bottom));
    padding-bottom: calc(60px + env(safe-area-inset-bottom));
  }
  .container .visual-block .visual-animation {
    overflow: hidden;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: calc(100% - 60px);
    height: calc(100% - 60px - constant(safe-area-inset-bottom));
    height: calc(100% - 60px - env(safe-area-inset-bottom));
  }
}

/* --------------------------------------------------------------------------------------------- */
.pages .page .txt-left {
  text-align: left;
}

.pages .page h1 span,
.pages .page h2 span,
.pages .page h3 span,
.pages .page h4 span {
  filter: blur(0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-filter: blur(0);
  position: relative;
}

.pages .page .descriptions p {
  filter: blur(0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-filter: blur(0);
  font-size: 1.8897637795vh;
  line-height: 1.6666666667em;
  position: relative;
}

.pages img {
  display: block;
}

.pages .indices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pages .indices .index {
  display: block;
  width: .9448818898vh;
  height: .9448818898vh;
  border-radius: .9448818898vh;
  border: 1px solid #fff;
  background: 0 0;
  text-indent: -99em;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: .6299212598vh;
  -webkit-transition: opacity .2s, background-color .2s;
  transition: opacity .2s, background-color .2s;
  will-change: opacity, background-color;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  /*active*/
}

.pages .indices .index.active {
  opacity: 1;
  background-color: #fff;
}

.pages .indices .index:last-child {
  margin-right: 0;
}

/*
// .pages .centered-content { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }
// .pages .txt-center .indices { justify-content: center; }
// .pages .txt-center .descriptions p { text-align: center; }
// .pages .txt-left .descriptions p { text-align: left; }
// .pages .white .descriptions p { color: #fff; }
// .pages .white .indices .index { border-color: #fff; }
// .pages .white .indices .index.active { background-color: #fff; }
// .pages .back.dimmed { background: rgba(0, 0, 0, .7); }
*/
.app .msg-next {
  opacity: 0;
  z-index: 10;
  pointer-events: none;
  position: absolute;
  height: 4.2519685039vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 1.8897637795vh;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 3.1496062992vh;
}

.app .msg-next.active {
  -webkit-animation: msg-next-motion 1.25s forwards;
          animation: msg-next-motion 1.25s forwards;
}

.app .msg-next span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.4173228346vh;
  color: #fff;
}

.app .msg-next span svg {
  display: block;
  height: 1.4173228346vh;
  margin-left: .3149606299vh;
}

@media screen and (max-width: 1023px) {
  .pages .page .descriptions p {
    font-size: calc(var(--vh, 1vh) * 1.8897637795);
  }
  .pages .indices .index {
    width: calc(var(--vh, 1vh) * .9448818898);
    height: calc(var(--vh, 1vh) * .9448818898);
    border-radius: calc(var(--vh, 1vh) * .9448818898);
    margin-right: calc(var(--vh, 1vh) * .6299212598);
  }
  .app .msg-next {
    height: calc(var(--vh, 1vh) * 4.2519685039);
    padding: 0 calc(var(--vh, 1vh) * 1.8897637795);
    right: calc(var(--vh, 1vh) * 3.1496062992);
  }
  .app .msg-next span {
    font-size: calc(var(--vh, 1vh) * 1.4173228346);
  }
  .app .msg-next span svg {
    height: calc(var(--vh, 1vh) * 1.4173228346);
    margin-left: calc(var(--vh, 1vh) * .3149606299);
  }
}

@-webkit-keyframes msg-next-motion {
  0%, 100% {
    opacity: 0;
    margin-right: 3%;
  }
  20%, 80% {
    opacity: 1;
    margin-right: 0;
  }
}

@keyframes msg-next-motion {
  0%, 100% {
    opacity: 0;
    margin-right: 3%;
  }
  20%, 80% {
    opacity: 1;
    margin-right: 0;
  }
}

/*
cover
=========================================================================================================================
*/
.page#cover .rolling-bg .back {
  top: auto;
  height: 100%;
  bottom: 0;
  background-size: 100% auto !important;
  background-position: 50% 100%;
}

.page#cover .showcase {
  position: absolute;
  left: 15.3543307087vh;
  top: 35.5905511811vh;
  font-size: 1.8897637795vh;
}

.page#cover .showcase span {
  position: relative;
  display: block;
}

.page#cover .title {
  position: absolute;
  left: 15.1181102362vh;
  top: 40.157480315vh;
  font-size: 6.7716535433vh;
  line-height: 1.0930232558em;
  text-align: left;
}

.page#cover .title span {
  position: relative;
  display: block;
}

.page#cover .slogan {
  position: absolute;
  left: 15.3543307087vh;
  top: 81.1023622047vh;
  font-size: 1.8897637795vh;
  line-height: 1.4166666667em;
  text-align: left;
}

.page#cover .slogan span {
  position: relative;
  display: block;
}

@media screen and (max-width: 1023px) {
  .page#cover .showcase {
    left: calc(var(--vh, 1vh) * 15.3543307087);
    top: calc(var(--vh, 1vh) * 35.5905511811);
    font-size: calc(var(--vh, 1vh) * 1.8897637795);
  }
  .page#cover .title {
    left: calc(var(--vh, 1vh) * 15.1181102362);
    top: calc(var(--vh, 1vh) * 40.157480315);
    font-size: calc(var(--vh, 1vh) * 6.7716535433);
  }
  .page#cover .slogan {
    position: absolute;
    left: calc(var(--vh, 1vh) * 15.3543307087);
    top: calc(var(--vh, 1vh) * 81.1023622047);
    font-size: calc(var(--vh, 1vh) * 1.8897637795);
  }
}

/*
intro1
=========================================================================================================================
*/
#intro1 .bg .back {
  top: auto;
  bottom: 0;
  background-size: 100% auto;
  background-position: 50% 100%;
}

#intro1 .title {
  position: absolute;
  left: 19.0551181102vh;
  top: 13.0708661417vh;
  font-size: 4.7244094488vh;
  line-height: 1.2em;
  text-align: left;
}

#intro1 .title span {
  display: block;
  position: relative;
}

#intro1 .photo {
  position: absolute;
  left: 21.4173228346vh;
  top: 26.5354330709vh;
  width: 37.1653543307vh;
  height: 49.6062992126vh;
}

#intro1 .photo .back {
  top: 0;
  bottom: auto;
  background-size: 100% auto;
  background-position: 50% 0;
}

#intro1 .descriptions {
  position: absolute;
  text-align: left;
}

#intro1 .descriptions1 {
  left: 28.2677165354vh;
  top: 78.5039370079vh;
}

#intro1 .descriptions2 {
  left: 15.3543307087vh;
  top: 75.3543307087vh;
}

@media screen and (max-width: 1023px) {
  #intro1 .title {
    left: calc(var(--vh, 1vh) * 19.0551181102);
    top: calc(var(--vh, 1vh) * 13.0708661417);
    font-size: calc(var(--vh, 1vh) * 4.7244094488);
  }
  #intro1 .photo {
    left: calc(var(--vh, 1vh) * 21.4173228346);
    top: calc(var(--vh, 1vh) * 26.5354330709);
    width: calc(var(--vh, 1vh) * 37.1653543307);
    height: calc(var(--vh, 1vh) * 49.6062992126);
  }
  #intro1 .descriptions1 {
    left: calc(var(--vh, 1vh) * 28.2677165354);
    top: calc(var(--vh, 1vh) * 78.5039370079);
  }
  #intro1 .descriptions2 {
    left: calc(var(--vh, 1vh) * 15.3543307087);
    top: calc(var(--vh, 1vh) * 75.3543307087);
  }
}

/*
intro2
=========================================================================================================================
*/
#intro2 .descriptions {
  text-align: left;
  position: absolute;
  left: 15.2755905512vh;
  top: 67.2440944882vh;
}

@media screen and (max-width: 1023px) {
  #intro2 .descriptions {
    left: calc(var(--vh, 1vh) * 15.2755905512);
    top: calc(var(--vh, 1vh) * 67.2440944882);
  }
}

/*
chapter-cover
===========================================================================================================================
*/
.chapter-cover .back.to-bottom,
.chapter-cover .back.to-top {
  background-size: 100% auto !important;
}

.chapter-cover .title {
  position: absolute;
  left: 15.1181102362vh;
  bottom: 23.1496062992vh;
  font-size: 4.7244094488vh;
  line-height: 1.2em;
  text-align: left;
}

.chapter-cover .title span {
  display: block;
  position: relative;
}

.chapter-cover .descriptions {
  position: absolute;
  left: 15.3543307087vh;
  bottom: 13.5433070866vh;
  text-align: left;
}

@media screen and (max-width: 1023px) {
  .chapter-cover .title {
    left: calc(var(--vh, 1vh) * 15.1181102362);
    bottom: calc(var(--vh, 1vh) * 23.1496062992);
    font-size: calc(var(--vh, 1vh) * 4.7244094488);
  }
  .chapter-cover .descriptions {
    left: calc(var(--vh, 1vh) * 15.3543307087);
    bottom: calc(var(--vh, 1vh) * 13.5433070866);
  }
}

/*
product-cover
===========================================================================================================================
*/
.page.product-cover {
  background: #eff2f5;
}

.page.product-cover .rolling-bg {
  background: 0 0;
}

.page.product-cover .product-name {
  text-align: left;
  font-size: 7.5590551181vh;
  line-height: 1.1041666667em;
  color: #000;
  position: absolute;
  left: 15.3543307087vh;
  top: 12.125984252vh;
}

.page.product-cover .product-name span {
  display: block;
  position: relative;
}

.page.product-cover[data-move-type=reverse] .product-name {
  text-align: right;
  left: auto;
  right: 15.3543307087vh;
}

@media screen and (max-width: 1023px) {
  .page.product-cover .product-name {
    font-size: calc(var(--vh, 1vh) * 7.5590551181);
    left: calc(var(--vh, 1vh) * 15.3543307087);
    top: calc(var(--vh, 1vh) * 12.125984252);
  }
  .page.product-cover[data-move-type=reverse] .product-name {
    right: calc(var(--vh, 1vh) * 15.3543307087);
  }
}

/*
product-detail
===============================================================================================================================
*/
.page.product-detail .descriptions {
  text-align: left;
  position: absolute;
  left: 15.3543307087vh;
  top: 47.2440944882vh;
}

.page.product-detail .product-name {
  position: absolute;
  left: 15.2755905512vh;
  top: 81.2598425197vh;
}

.page.product-detail .product-name h3 {
  font-size: 1.8897637795vh;
  line-height: 1.4166666667em;
  text-align: left;
}

.page.product-detail .product-name h3 span {
  display: block;
  position: relative;
}

.page.product-detail .indices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2.3622047244vh;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.page.product-detail .indices .index {
  margin: 0;
  width: 4.7244094488vh;
  height: .3149606299vh;
  border: 0;
  background: rgba(255, 255, 255, 0.4);
  position: relative;
  border-radius: 0;
  /* active */
}

.page.product-detail .indices .index:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0%;
  background: #fff;
  -webkit-transition: width .2s ease;
  transition: width .2s ease;
  /* active */
}

.page.product-detail .indices .index.active {
  opacity: 1;
}

.page.product-detail .indices .index.active:after {
  width: 100%;
}

@media screen and (max-width: 1023px) {
  .page.product-detail .descriptions {
    left: calc(var(--vh, 1vh) * 15.3543307087);
    top: calc(var(--vh, 1vh) * 47.2440944882);
  }
  .page.product-detail .product-name {
    left: calc(var(--vh, 1vh) * 15.2755905512);
    top: calc(var(--vh, 1vh) * 81.2598425197);
  }
  .page.product-detail .product-name h3 {
    font-size: calc(var(--vh, 1vh) * 1.8897637795);
  }
  .page.product-detail .indices {
    margin-top: calc(var(--vh, 1vh) * 2.3622047244);
  }
  .page.product-detail .indices .index {
    width: calc(var(--vh, 1vh) * 4.7244094488);
    height: calc(var(--vh, 1vh) * .3149606299);
  }
}

/*
event
===============================================================================================================================
*/
#event .event {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#event .event a {
  display: block;
  position: relative;
}

#event .event a img {
  max-width: none;
  display: block;
  width: 48.031496063vh;
}

#event .event a .txt {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: neon 4s infinite linear;
          animation: neon 4s infinite linear;
}

#event .event a .btn {
  position: absolute;
  top: 0;
  left: 0;
}

#event .indices {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin-top: calc(var(--vh, 1vh) * 37.0078740157);
}

@media screen and (max-width: 1023px) {
  #event .event a img {
    width: calc(var(--vh, 1vh) * 48.031496063);
  }
  #event .event a .txt {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: neon 4s infinite linear;
            animation: neon 4s infinite linear;
  }
  #event .event a .btn {
    position: absolute;
    top: 0;
    left: 0;
  }
  #event .indices {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    margin-top: calc(var(--vh, 1vh) * 37.0078740157);
  }
}

@-webkit-keyframes neon {
  0%, 8%, 12%, 22%, 28%, 42%, 48%, 58%, 63%, 70%, 75%, 80% {
    opacity: 0;
  }
  10%, 25%, 45%, 60% {
    opacity: .5;
    -webkit-filter: blur(0.5vh);
            filter: blur(0.5vh);
  }
  72%, 82%, 100% {
    opacity: 1;
    -webkit-filter: blur(0.2vh);
            filter: blur(0.2vh);
  }
}

@keyframes neon {
  0%, 8%, 12%, 22%, 28%, 42%, 48%, 58%, 63%, 70%, 75%, 80% {
    opacity: 0;
  }
  10%, 25%, 45%, 60% {
    opacity: .5;
    -webkit-filter: blur(0.5vh);
            filter: blur(0.5vh);
  }
  72%, 82%, 100% {
    opacity: 1;
    -webkit-filter: blur(0.2vh);
            filter: blur(0.2vh);
  }
}
/*# sourceMappingURL=style.css.map */