@charset "UTF-8";
@font-face {
  font-family: "Euclid Flex";
  src: url(fonts/EuclidFlexMedium.eot);
  src: url(fonts/EuclidFlexMedium.eot?#iefix) format("embedded-opentype"), url(fonts/EuclidFlexMedium.woff2) format("woff2"), url(fonts/EuclidFlexMedium.woff) format("woff"), url(fonts/EuclidFlexMedium.ttf) format("truetype"), url(fonts/EuclidFlexMedium.svg#EuclidFlexMedium) format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

.app {
  font-weight: 500;
  letter-spacing: 0;
  font-family: "Noto Sans KR", sans-serif;
  color: #fff;
  line-height: 1;
  white-space: nowrap;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
}

.app .font-musinsa {
  font-family: Musinsa, sans-serif !important;
  font-weight: 500 !important;
}

.app .font-euclidflex {
  font-family: "Euclid Flex", sans-serif !important;
  letter-spacing: 0 !important;
}

.app h1, .app h2, .app h3, .app h4, .app h5 {
  font-weight: 500;
}

.app .bold {
  font-weight: 700 !important;
}

.app i {
  font-style: normal;
}

.app .txt-right {
  text-align: right !important;
}

.app .lined {
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.app .lined .line {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
}

.app .lined .txt {
  color: #fff;
  position: relative;
  display: block;
  padding: .4em .6em .5em;
}

.app .lined.yellow .line {
  background: #fee717;
}

.app .lined.yellow .txt {
  color: #000;
}

body, html {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  font-family: "-apple-system", "HelveticaNeue", "Roboto", "Noto Sans KR", "helvetica", "Gulim", sans-serif;
}

.app {
  overflow: hidden;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  max-width: 80vh;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.app * {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
      user-select: none;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

/* //////// 상하 그라디언트 딤 //////////// */
.app:after, .app:before {
  content: "";
  position: absolute;
  left: -100%;
  right: -100%;
  pointer-events: none;
  opacity: .4;
  z-index: 999;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5)));
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
}

.app:after {
  bottom: 0;
  height: 12%;
}

.app:before {
  top: 0;
  height: 8%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media screen and (max-width: 1023px) {
  #app:after {
    display: none;
  }
}

/* //////// progress //////////// */
.app .app-progress {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.25);
}

.app .app-progress .app-progress-bar {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  background-color: #000;
}

.app .app-progress[data-theme=dark] .app-progress-bar {
  background: #000;
}

#appLoading .guide {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  background-color: black;
}

#appLoading .coach-guide {
  opacity: 1;
  /*============================> 안보이게 설정 */
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: Musinsa, sans-serif !important;
  font-weight: 400;
}

#appLoading .coach-guide.mobile {
  display: block;
}

#appLoading .coach-guide.desktop {
  display: none;
}

#appLoading .coach-guide p {
  font-size: 2.0472440945vh;
  text-align: center;
  color: #fff;
  line-height: 1.5;
}

#appLoading .coach-guide .gadget {
  text-align: center;
  font-size: 0;
  margin-bottom: 3.937007874vh;
}

#appLoading .coach-guide .mouse {
  width: 4.4094488189vh;
  height: 8.188976378vh;
  border: 2px solid #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4.4094488189vh;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

#appLoading .coach-guide .mouse .pointer {
  display: block;
  width: .6299212598vh;
  height: .6299212598vh;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 20%;
  margin-top: -.3149606299vh;
  margin-left: -.3149606299vh;
}

#appLoading .coach-guide .gadget .or {
  font-size: 2.3622047244vh;
  vertical-align: middle;
  margin: 0 3.1496062992vh;
  opacity: .7;
  color: #fff;
}

#appLoading .coach-guide .keyboard {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  height: 7.4015748031vh;
  width: 11.0236220472vh;
}

#appLoading .coach-guide .keyboard span {
  width: 3.7795275591vh;
  height: 3.7795275591vh;
  border: 2px solid #fff;
  position: absolute;
  top: 0;
  left: 0;
}

#appLoading .coach-guide .keyboard span svg {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#appLoading .coach-guide .keyboard span.down,
#appLoading .coach-guide .keyboard span.up {
  left: 3.6220472441vh;
}

#appLoading .coach-guide .keyboard span.down,
#appLoading .coach-guide .keyboard span.left,
#appLoading .coach-guide .keyboard span.right {
  top: 3.6220472441vh;
}

#appLoading .coach-guide .keyboard span.right {
  left: 7.2440944882vh;
}

#appLoading .coach-guide .mobilephone {
  width: 4.7244094488vh;
  height: 8.6614173228vh;
  border: 2px solid #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: .7874015748vh;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

#appLoading .coach-guide .mobilephone .pointer {
  display: block;
  width: .6299212598vh;
  height: .6299212598vh;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -.3149606299vh;
  margin-left: -.3149606299vh;
}

#appLoading .coach-guide.active {
  opacity: 1;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

#appLoading .coach-guide.active .mouse .pointer {
  -webkit-animation: mousepointer 2s forwards 1s;
          animation: mousepointer 2s forwards 1s;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

#appLoading .coach-guide.active .keyboard span {
  -webkit-animation: keyboardpress 1.6s forwards;
          animation: keyboardpress 1.6s forwards;
}

#appLoading .coach-guide.active .keyboard span.right {
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}

#appLoading .coach-guide.active .keyboard span.up {
  -webkit-animation-delay: .8s;
          animation-delay: .8s;
}

#appLoading .coach-guide.active .keyboard span.left {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

#appLoading .coach-guide.active .keyboard span.down {
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}

#appLoading .coach-guide.active .mobilephone .pointer {
  -webkit-animation: gesture 2.2s forwards;
          animation: gesture 2.2s forwards;
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
}

@media screen and (max-width: 1023px) {
  #appLoading .coach-guide p {
    font-size: calc(var(--vh, 1vh) * 2.0472440945);
  }
  #appLoading .coach-guide .gadget {
    margin-bottom: calc(var(--vh, 1vh) * 3.937007874);
  }
  #appLoading .coach-guide .mouse {
    width: calc(var(--vh, 1vh) * 4.4094488189);
    height: calc(var(--vh, 1vh) * 8.188976378);
    border-radius: calc(var(--vh, 1vh) * 4.4094488189);
  }
  #appLoading .coach-guide .mouse .pointer {
    width: calc(var(--vh, 1vh) * .6299212598);
    height: calc(var(--vh, 1vh) * .6299212598);
    margin-top: calc(var(--vh, 1vh) * -.3149606299);
    margin-left: calc(var(--vh, 1vh) * -.3149606299);
  }
  #appLoading .coach-guide .gadget .or {
    font-size: calc(var(--vh, 1vh) * 2.3622047244);
    margin: 0 calc(var(--vh, 1vh) * 3.1496062992);
  }
  #appLoading .coach-guide .keyboard {
    height: calc(var(--vh, 1vh) * 7.4015748031);
    width: calc(var(--vh, 1vh) * 11.0236220472);
  }
  #appLoading .coach-guide .keyboard span {
    width: calc(var(--vh, 1vh) * 3.7795275591);
    height: calc(var(--vh, 1vh) * 3.7795275591);
  }
  #appLoading .coach-guide .keyboard span.down,
  #appLoading .coach-guide .keyboard span.up {
    left: calc(var(--vh, 1vh) * 3.6220472441);
  }
  #appLoading .coach-guide .keyboard span.down,
  #appLoading .coach-guide .keyboard span.left,
  #appLoading .coach-guide .keyboard span.right {
    top: calc(var(--vh, 1vh) * 3.6220472441);
  }
  #appLoading .coach-guide .keyboard span.right {
    left: calc(var(--vh, 1vh) * 7.2440944882);
  }
  #appLoading .coach-guide .mobilephone {
    width: calc(var(--vh, 1vh) * 4.7244094488);
    height: calc(var(--vh, 1vh) * 8.6614173228);
    border-radius: calc(var(--vh, 1vh) * .7874015748);
  }
  #appLoading .coach-guide .mobilephone .pointer {
    width: calc(var(--vh, 1vh) * .6299212598);
    height: calc(var(--vh, 1vh) * .6299212598);
    margin-top: calc(var(--vh, 1vh) * -.3149606299);
    margin-left: calc(var(--vh, 1vh) * -.3149606299);
  }
}

@-webkit-keyframes mousepointer {
  0%, 80%, 100% {
    top: 20%;
  }
  40% {
    top: 80%;
  }
}

@keyframes mousepointer {
  0%, 80%, 100% {
    top: 20%;
  }
  40% {
    top: 80%;
  }
}

@-webkit-keyframes keyboardpress {
  0%, 50%, 100% {
    background: 0 0;
  }
  25% {
    background: rgba(255, 255, 255, 0.25);
  }
}

@keyframes keyboardpress {
  0%, 50%, 100% {
    background: 0 0;
  }
  25% {
    background: rgba(255, 255, 255, 0.25);
  }
}

@-webkit-keyframes gesture {
  0%, 45%, 55%, 100% {
    top: 50%;
    left: 50%;
  }
  10% {
    top: 50%;
    left: 75%;
  }
  30% {
    top: 50%;
    left: 25%;
  }
  70% {
    top: 75%;
    left: 50%;
  }
  90% {
    top: 25%;
    left: 50%;
  }
}

@keyframes gesture {
  0%, 45%, 55%, 100% {
    top: 50%;
    left: 50%;
  }
  10% {
    top: 50%;
    left: 75%;
  }
  30% {
    top: 50%;
    left: 25%;
  }
  70% {
    top: 75%;
    left: 50%;
  }
  90% {
    top: 25%;
    left: 50%;
  }
}

/*
=================================================================================================================
*/
#appLoading {
  background: 0 0;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
}

#appLoading .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-perspective: 600px;
          perspective: 600px;
}

#appLoading .logo img,
#appLoading .logo svg {
  display: block;
  width: 9.5275590551vh;
  height: 8.7401574803vh;
}

@media screen and (max-width: 1023px) {
  #appLoading .logo img,
  #appLoading .logo svg {
    display: block;
    width: calc(var(--vh, 1vh) * 9.5275590551);
    height: calc(var(--vh, 1vh) * 8.7401574803);
  }
}

/*
=====================================================================================================================
*/
@-webkit-keyframes light1 {
  0%, 18%, 22%, 30%, 45%, 55%, 70%, 80%, 90%, 95% {
    opacity: 0;
  }
  20%, 40%, 60%, 77% {
    opacity: .8;
  }
}
@keyframes light1 {
  0%, 18%, 22%, 30%, 45%, 55%, 70%, 80%, 90%, 95% {
    opacity: 0;
  }
  20%, 40%, 60%, 77% {
    opacity: .8;
  }
}

@-webkit-keyframes light2 {
  0%, 5%, 20%, 25%, 50%, 60%, 70%, 75%, 85%, 99% {
    opacity: 0;
  }
  3%, 22%, 30%, 66%, 72%, 80% {
    opacity: .8;
  }
}

@keyframes light2 {
  0%, 5%, 20%, 25%, 50%, 60%, 70%, 75%, 85%, 99% {
    opacity: 0;
  }
  3%, 22%, 30%, 66%, 72%, 80% {
    opacity: .8;
  }
}

@-webkit-keyframes light3 {
  0%, 6%, 30%, 55%, 60%, 70%, 75%, 98% {
    opacity: 0;
  }
  2%, 20%, 33%, 50%, 58%, 72%, 90% {
    opacity: .8;
  }
}

@keyframes light3 {
  0%, 6%, 30%, 55%, 60%, 70%, 75%, 98% {
    opacity: 0;
  }
  2%, 20%, 33%, 50%, 58%, 72%, 90% {
    opacity: .8;
  }
}

@-webkit-keyframes progress1 {
  0% {
    -webkit-transform: scalex(0);
            transform: scalex(0);
    opacity: .5;
  }
  90% {
    -webkit-transform: scalex(1);
            transform: scalex(1);
    opacity: 1;
  }
  92% {
    -webkit-transform: scalex(1);
            transform: scalex(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scalex(1);
            transform: scalex(1);
    opacity: 0;
  }
}

@keyframes progress1 {
  0% {
    -webkit-transform: scalex(0);
            transform: scalex(0);
    opacity: .5;
  }
  90% {
    -webkit-transform: scalex(1);
            transform: scalex(1);
    opacity: 1;
  }
  92% {
    -webkit-transform: scalex(1);
            transform: scalex(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scalex(1);
            transform: scalex(1);
    opacity: 0;
  }
}

@-webkit-keyframes progress2 {
  0% {
    -webkit-transform: scale(0.3, 0.8) translatez(0);
            transform: scale(0.3, 0.8) translatez(0);
    opacity: 0;
  }
  90% {
    -webkit-transform: scale(1, 1) translatex(23.62205vh) translatez(0);
            transform: scale(1, 1) translatex(23.62205vh) translatez(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1, 1) translatex(23.62205vh) translatez(0);
            transform: scale(1, 1) translatex(23.62205vh) translatez(0);
    opacity: 0;
  }
}

@keyframes progress2 {
  0% {
    -webkit-transform: scale(0.3, 0.8) translatez(0);
            transform: scale(0.3, 0.8) translatez(0);
    opacity: 0;
  }
  90% {
    -webkit-transform: scale(1, 1) translatex(23.62205vh) translatez(0);
            transform: scale(1, 1) translatex(23.62205vh) translatez(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1, 1) translatex(23.62205vh) translatez(0);
            transform: scale(1, 1) translatex(23.62205vh) translatez(0);
    opacity: 0;
  }
}

.visual-block {
  background-color: #f2f2f2;
}

.pages {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  max-width: 80vh;
  height: 100vh;
  overflow: hidden;
  z-index: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  perspective: 1200px;
  -webkit-perspective: 1200px;
  background: #000 50% 50% no-repeat;
  background-size: cover;
}

.pages .page {
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  background: 0 0;
  overflow: hidden;
  display: none;
  /* ================================>  처음에 가리기 */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.pages .page[data-status=active],
.pages .page[data-status=sibling] {
  display: block;
  opacity: 1;
}

.pages .page[data-status=sibling-sibling] {
  opacity: 0;
  display: block;
}

.pages .page .page-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.pages .page .page-inner .page-bg,
.pages .page .page-inner .page-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80vh;
  height: 100vh;
}

.pages .page .bg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80vh;
  height: 100vh;
}

.pages .page .rolling-bg {
  background: #090a0a;
}

.pages .page .rolling-bg .back {
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

/* backgorund image 적용되는 엘리먼트 */
.pages .page .back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: 50% 50% no-repeat;
  background-size: auto 100%;
}

@media screen and (max-width: 1023px) {
  .pages {
    height: calc(var(--vh, 1vh) * 100);
  }
  .pages .page .page-bg,
  .pages .page .page-content {
    width: calc(var(--vh, 1vh) * 80);
    height: calc(var(--vh, 1vh) * 100);
  }
  .pages .page .bg {
    width: calc(var(--vh, 1vh) * 80);
    height: calc(var(--vh, 1vh) * 100);
  }
  .pages .page .txt-left {
    text-align: left;
  }
}

.pages img {
  display: block;
}
/*# sourceMappingURL=style.css.map */