
#appLoading .guide {
    position: absolute; top: 0; left: 0; right: 0; bottom: 0;
    z-index: 9999;
    background-color: black;
}
#appLoading .coach-guide {
    opacity: 1; /*============================> 안보이게 설정 */
    position: absolute;
    top: 50%; left: 50%; transform: translate(-50%, -50%);
    font-family: Musinsa, sans-serif !important; font-weight: 400;
}

#appLoading .coach-guide.mobile { display: block; }
#appLoading .coach-guide.desktop { display: none; }  // =========================> 데스크탑 가이드 안보이게 설정
#appLoading .coach-guide p { font-size: 2.0472440945vh; text-align: center; color: #fff; line-height: 1.5; }
#appLoading .coach-guide .gadget { text-align: center; font-size: 0; margin-bottom: 3.937007874vh; }

#appLoading .coach-guide .mouse {
    width: 4.4094488189vh;
    height: 8.188976378vh;
    border: 2px solid #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 4.4094488189vh;
    -moz-border-radius: 4.4094488189vh;
    border-radius: 4.4094488189vh;
    display: inline-block; position: relative; vertical-align: middle;
}

#appLoading .coach-guide .mouse .pointer {
    display: block;
    width: .6299212598vh;
    height: .6299212598vh;
    background-color: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 20%;
    margin-top: -.3149606299vh;
    margin-left: -.3149606299vh;
}

#appLoading .coach-guide .gadget .or {
    font-size: 2.3622047244vh;
    vertical-align: middle;
    margin: 0 3.1496062992vh;
    opacity: .7;
    color: #fff
}

#appLoading .coach-guide .keyboard {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    height: 7.4015748031vh;
    width: 11.0236220472vh
}

#appLoading .coach-guide .keyboard span {
    width: 3.7795275591vh;
    height: 3.7795275591vh;
    border: 2px solid #fff;
    position: absolute;
    top: 0;
    left: 0
}

#appLoading .coach-guide .keyboard span svg {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

#appLoading .coach-guide .keyboard span.down,
#appLoading .coach-guide .keyboard span.up { left: 3.6220472441vh; }
#appLoading .coach-guide .keyboard span.down,
#appLoading .coach-guide .keyboard span.left,
#appLoading .coach-guide .keyboard span.right { top: 3.6220472441vh; }
#appLoading .coach-guide .keyboard span.right { left: 7.2440944882vh;}

#appLoading .coach-guide .mobilephone {
    width: 4.7244094488vh;
    height: 8.6614173228vh;
    border: 2px solid #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: .7874015748vh;
    -moz-border-radius: .7874015748vh;
    border-radius: .7874015748vh;
    display: inline-block;
    position: relative;
    vertical-align: middle
}

#appLoading .coach-guide .mobilephone .pointer {
    display: block;
    width: .6299212598vh;
    height: .6299212598vh;
    background-color: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -.3149606299vh;
    margin-left: -.3149606299vh
}

#appLoading .coach-guide.active { opacity: 1; transition: opacity .2s }
#appLoading .coach-guide.active .mouse .pointer { animation: mousepointer 2s forwards 1s; animation-delay: .5s; }
#appLoading .coach-guide.active .keyboard span { animation: keyboardpress 1.6s forwards; }
#appLoading .coach-guide.active .keyboard span.right { animation-delay: .4s; }
#appLoading .coach-guide.active .keyboard span.up { animation-delay: .8s; }
#appLoading .coach-guide.active .keyboard span.left { animation-delay: 1.2s; }
#appLoading .coach-guide.active .keyboard span.down { animation-delay: 1.6s; }
#appLoading .coach-guide.active .mobilephone .pointer { animation: gesture 2.2s forwards; animation-delay: .2s; }

@media screen and (max-width:1023px) {
    #appLoading .coach-guide p { font-size: calc(var(--vh, 1vh) * 2.0472440945); }
    #appLoading .coach-guide .gadget { margin-bottom: calc(var(--vh, 1vh) * 3.937007874) }

    #appLoading .coach-guide .mouse {
        width: calc(var(--vh, 1vh) * 4.4094488189);
        height: calc(var(--vh, 1vh) * 8.188976378);
        -webkit-border-radius: calc(var(--vh, 1vh) * 4.4094488189);
        -moz-border-radius: calc(var(--vh, 1vh) * 4.4094488189);
        border-radius: calc(var(--vh, 1vh) * 4.4094488189);
    };

    #appLoading .coach-guide .mouse .pointer {
        width: calc(var(--vh, 1vh) * .6299212598);
        height: calc(var(--vh, 1vh) * .6299212598);
        margin-top: calc(var(--vh, 1vh) * -.3149606299);
        margin-left: calc(var(--vh, 1vh) * -.3149606299)
    }

    #appLoading .coach-guide .gadget .or {
        font-size: calc(var(--vh, 1vh) * 2.3622047244);
        margin: 0 calc(var(--vh, 1vh) * 3.1496062992);
    }

    #appLoading .coach-guide .keyboard {
        height: calc(var(--vh, 1vh) * 7.4015748031);
        width: calc(var(--vh, 1vh) * 11.0236220472)
    }

    #appLoading .coach-guide .keyboard span {
        width: calc(var(--vh, 1vh) * 3.7795275591);
        height: calc(var(--vh, 1vh) * 3.7795275591);
    }

    #appLoading .coach-guide .keyboard span.down,
    #appLoading .coach-guide .keyboard span.up { left: calc(var(--vh, 1vh) * 3.6220472441) }
    #appLoading .coach-guide .keyboard span.down,
    #appLoading .coach-guide .keyboard span.left,
    #appLoading .coach-guide .keyboard span.right { top: calc(var(--vh, 1vh) * 3.6220472441) }
    #appLoading .coach-guide .keyboard span.right { left: calc(var(--vh, 1vh) * 7.2440944882)}

    #appLoading .coach-guide .mobilephone {
        width: calc(var(--vh, 1vh) * 4.7244094488);
        height: calc(var(--vh, 1vh) * 8.6614173228);
        -webkit-border-radius: calc(var(--vh, 1vh) * .7874015748);
        -moz-border-radius: calc(var(--vh, 1vh) * .7874015748);
        border-radius: calc(var(--vh, 1vh) * .7874015748);
    }

    #appLoading .coach-guide .mobilephone .pointer {
        width: calc(var(--vh, 1vh) * .6299212598);
        height: calc(var(--vh, 1vh) * .6299212598);
        margin-top: calc(var(--vh, 1vh) * -.3149606299);
        margin-left: calc(var(--vh, 1vh) * -.3149606299)
    }
}


@keyframes mousepointer {
    0%, 80%, 100%  { top: 20% }
    40% { top: 80%; }
}

@keyframes keyboardpress {
    0%, 50%, 100% { background: 0 0 }
    25% { background: rgba(255, 255, 255, .25) }
}

@keyframes gesture {
    0%, 45%, 55%, 100%  { top: 50%; left: 50%; }
    10% { top: 50%; left: 75%; }
    30% { top: 50%; left: 25%; }
    70% { top: 75%; left: 50%; }
    90% { top: 25%; left: 50%; }
}

/*
    로딩 
=================================================================================================================
*/

#appLoading {
    // background: 0 0; 
    background: #000;
    background-size: cover;
    position: absolute; top: 0; left: 0; width: 100%; height: 100%;
    z-index: 99999;
}
#appLoading .logo {
    position: absolute; top: 50%; left: 50%; 
    transform: translate(-50%, -50%);
    perspective: 600px;
}
#appLoading .logo img { display: block; width: 26.3779527559vh; }
#appLoading .lines { position: absolute; top: 50%; transform: translateY(-50%); left: 0; right: 0; }
#appLoading .lines .line { display: block; height: 6.2992125984vh; width: 100%; transform-origin: 0 0; background: #000; margin-top: -1px; }
#appLoading .lines .l1 { background-color: #e03029 }
#appLoading .lines .l2 { background-color: #8ec621 }
#appLoading .lines .l3 { background-color: #f4b618 }

@media screen and (max-width:1023px) {
    #appLoading .logo img { width: calc(var(--vh, 1vh) * 26.3779527559) }
    #appLoading .lines .line { height: calc(var(--vh, 1vh) * 6.2992125984); }
}

/*
=====================================================================================================================
*/

@keyframes light1 {
    0%, 18%, 22%, 30%, 45%, 55%, 70%, 80%, 90%, 95% { opacity: 0;}
    20%, 40%, 60%, 77% { opacity: .8;}
}
@keyframes light2 {
    0%, 5%, 20%, 25%, 50%, 60%, 70%, 75%, 85%, 99% { opacity: 0; }
    3%, 22%, 30%, 66%, 72%, 80% { opacity: .8; }
}
@keyframes light3 {
    0%, 6%, 30%, 55%, 60%, 70%, 75%, 98% { opacity: 0; }
    2%, 20%, 33%, 50%, 58%, 72%, 90% { opacity: .8; }
}

@keyframes progress1 {
    0% { transform: scalex(0); opacity: .5; }
    90% { transform: scalex(1); opacity: 1; }
    92% { transform: scalex(1); opacity: 1; }
    100% { transform: scalex(1); opacity: 0; }
}
@keyframes progress2 {
    0% { transform: scale(.3, .8) translatez(0); opacity: 0; }
    90% { transform: scale(1, 1) translatex(23.6220472441vh) translatez(0); opacity: 1; }
    100% { transform: scale(1, 1) translatex(23.6220472441vh) translatez(0); opacity: 0;}
}